/* html {
  scroll-behavior: smooth;
}
body {
  background: #3c3c3c;
}
a,
p {
  line-height: 1.5em;
}
a:hover {
  color: #d9d9d9;
}
p {
  font-size: 1.1rem;
}
.container {
  width: 94%;
  max-width: 1180px;
  margin: auto;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.logo img {
  width: 80%;
  max-width: 250px;
  min-width: 170px;
  filter: brightness(1.07);
}
.logo_mobile,
.menu_icon {
  display: none;
}
.menu {
  font-size: 1.4rem;
  width: 81%;
  margin-top: 20px;
  letter-spacing: 1px;
}
.menu li {
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.main-width,
.main-width_veritical,
.main-width_horizontal {
  margin-left: auto;
  margin-block: 7vh;
  width: 72%;
}
.main_img,
.main_img_vertical,
.main_img_horizontal {
  filter: grayscale(100%);
  transition: 0.2s ease-in-out;
}
.main_img {
  width: 100%;
}
.main_img_vertical {
  width: 40%;
}
.main_img:hover,
.main_img_horizontal:hover,
.main_img_vertical:hover {
  filter: grayscale(0);
}
.grayscale {
  filter: grayscale(2) !important;
}
.main-width_veritical {
  display: flex;
  gap: 10px;
}
.main_img_horizontal {
  width: 100%;
  height: 40vh;
  position: relative;
}
.main_img_horizontal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 25%;
}
.main-width_horizontal {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name_div {
  border-top: 3px solid #d3d3d3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name_div p {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 5px;
}
.name_div p span {
  font-size: 0.9rem;
}
.name {
  position: absolute;
  top: 50%;
  left: 98.2%;
  transform: translateY(-50%);
  text-shadow: 0 0 #333;
  color: #e5e5e5;
  font-size: 2.2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.name span {
  display: block;
  font-family: monospace;
}
.about_paragraf {
  grid-column: 2;
  padding-block: 10px;
}
.about_paragraf p {
  font-size: 0.8rem;
}
.owl-carousel {
  padding: 10px;
}
.card {
  padding-block: 40%;
  display: grid;
  place-items: center;
  border-block: 1px solid #ffffff41;
  border-left: 1px solid #ffffff41;
  position: relative;
}
.card::before,
.card::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 2.7px;
  height: 2.7px;
  background: #ebebeb;
  box-shadow: 0 0 5px #e5e5e5;
}
.card::before {
  top: -1px;
  left: -1.5px;
}
.card::after {
  bottom: -1px;
  right: -2px;
}
.owl-item img {
  width: 70% !important;
}
.owl-nav,
.owl-dots {
  display: none !important;
}
.foot_div {
  margin-block: 20px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.foot {
  text-align: center;
}
.icons img {
  width: 30px;
}
h2 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-block: 20px;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
  padding: 10px 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form_width {
  margin-top: 130px;
}
.contact_form {
  width: 100%;
  display: grid;
  padding: 10px;
  gap: 60px 40px;
  grid-template-columns: 1fr 1fr;
}
form label {
  color: #b3b3b3;
  text-transform: capitalize;
}
form span {
  margin-top: 30px;
  position: relative;
  width: 96%;
}
form input {
  width: 100%;
  border-bottom: 1px solid #5b5b5b;
  display: block;
  font-size: 1.2rem;
  color: #d9d9d9;
  margin-top: 16px;
  text-transform: capitalize;
}
form span::before,
form span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 3px;
  height: 2.7px;
  background: #ebebeb;
  box-shadow: 0 0 5px #e5e5e5;
  bottom: -1px;
}
form span::before {
  left: 100%;
}
form span::after {
  right: 100%;
}
input:focus {
  border-color: #e5e5e5;
}
.contact_button {
  color: #b3b3b3;
  font-size: 1.3rem;
  width: 80%;
  text-align: left;
  padding: 0;
}
i {
  font-size: 1.1rem;
}
@media only screen and (max-width: 768px) {
  .logos {
    display: flex;
    align-items: center;
  }
  .logo {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
  .logo_mobile {
    display: block;
    width: 35px;
  }
  .logo_mobile img {
    width: 100%;
  }
  .menu_icon {
    display: block;
    width: 35px;
  }
  nav {
    background: #3c3c3c;
    box-shadow: 0 0 2px #333;
    left: 0;
    width: 60px;
    z-index: 3;
  }
  .active {
    width: 200px;
    box-shadow: 0 0 1px #e5e5e5;
  }
  .active .logo {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  .active .logo_mobile {
    visibility: hidden;
    width: 0;
  }
  .active .menu li a {
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  .active::before,
  .active::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 2.8px;
    height: 2.8px;
    background: #ebebeb;
    box-shadow: 0 0 5px #e5e5e5;
    right: -2px;
  }
  .active::before {
    top: 0;
  }
  .active::after {
    bottom: 0;
  }
  .nav_menu {
    padding: 10px;
  }
  .menu {
    font-size: 1.4rem;
    line-height: 1.3em;
    width: 81%;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .menu li {
    padding-bottom: 10px;
    height: 80px;
  }
  .menu li a {
    visibility: hidden;
    opacity: 0;
    width: 0;
    transition: 0.2s;
  }
  .blur_div {
    background: #33333361;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    transition: 0.2s;
  }
  .blur {
    filter: blur(1px);
  }
  .cover {
    right: 0;
  }
  .main-width,
  .main-width_veritical,
  .main-width_horizontal {
    width: calc(100% - 60px);
    padding-inline: 5px;
  }
  
  p {
    font-size: 1rem;
  }
  .main-width_veritical {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_img_vertical {
    width: 90%;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  .foot_div {
    margin-block: 10px;
  }
  .contact_button {
    width: 100%;
  }
  .main_img_horizontal {
    width: 100%;
  }
  .main-width_horizontal {
    padding: 10px;
  }
  .name {
    left: 97.2%;
    font-size: 2.3rem;
  }
  .about_paragraf p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 540px) {
  .container {
    width: 97%;
  }
  .main_img_vertical {
    width: 100%;
  }
  .foot_div {
    padding: 20px;
  }
  .form_width {
    margin-top: 55px;
  }
  .contact_form {
    padding: 10px;
    gap: 20px 10px;
    grid-template-columns: 1fr;
  }
  .main-width_horizontal {
    padding: 5px;
    grid-template-columns: 1fr;
    place-items: center end;
  }
  .main_img_horizontal {
    width: 90%;
  }
  .name {
    left: 0;
    font-size: 2rem;
  }
  .about_paragraf {
    text-align: right;
  }
  h3 {
    font-size: 2rem;
  }
} */

html {
    scroll-behavior: smooth;
  }
  
  body {
    background: #3c3c3c;
  }
  
  a, p {
    line-height: 1.5em;
  }
  
  a:hover {
    color: #d9d9d9;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .container {
    width: 94%;
    max-width: 1180px;
    margin: auto;
  }
  
  nav {
    background: red;
    position: fixed; /* Ensure the nav is fixed */
    height: 100vh; /* Full height */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0;
  }
  
  .logo img {
    width: 80%;
    max-width: 250px;
    min-width: 170px;
    filter: brightness(1.07);
  }
  
  .logo_mobile, .menu_icon {
    display: none;
  }
  
  .menu {
    font-size: 1.4rem;
    width: 81%;
    margin-top: 20px;
    letter-spacing: 1px;
  }
  
  .menu li {
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  
  .main-width, .main-width_veritical, .main-width_horizontal {
    margin-left: auto;
    margin-block: 7vh;
    width: 72%;
  }
  
  .main_img, .main_img_vertical, .main_img_horizontal {
    filter: grayscale(100%);
    transition: 0.2s ease-in-out;
  }
  
  .main_img {
    width: 100%;
  }
  
  .main_img_vertical {
    width: 40%;
  }
  
  .main_img:hover, .main_img_horizontal:hover, .main_img_vertical:hover {
    filter: grayscale(0);
  }
  
  .grayscale {
    filter: grayscale(2) !important;
  }
  
  .main-width_veritical {
    display: flex;
    gap: 10px;
  }
  
  .main_img_horizontal {
    width: 100%;
    height: 40vh;
    position: relative;
  }
  
  .main_img_horizontal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
  }
  
  .main-width_horizontal {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .name_div {
    border-top: 3px solid #d3d3d3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .name_div p {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 5px;
  }
  
  .name_div p span {
    font-size: 0.9rem;
  }
  
  .name {
    position: absolute;
    top: 50%;
    left: 98.2%;
    transform: translateY(-50%);
    text-shadow: 0 0 #333;
    color: #e5e5e5;
    font-size: 2.2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .name span {
    display: block;
    font-family: monospace;
  }
  
  .about_paragraf {
    grid-column: 2;
    padding-block: 10px;
  }
  
  .about_paragraf p {
    font-size: 0.8rem;
  }
  
  .owl-carousel {
    padding: 10px;
  }
  
  .card {
    padding-block: 40%;
    display: grid;
    place-items: center;
    border-block: 1px solid #ffffff41;
    border-left: 1px solid #ffffff41;
    position: relative;
  }
  
  .card::before, .card::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 2.7px;
    height: 2.7px;
    background: #ebebeb;
    box-shadow: 0 0 5px #e5e5e5;
  }
  
  .card::before {
    top: -1px;
    left: -1.5px;
  }
  
  .card::after {
    bottom: -1px;
    right: -2px;
  }
  
  .owl-item img {
    width: 70% !important;
  }
  
  .owl-nav, .owl-dots {
    display: none !important;
  }
  
  .foot_div {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .foot {
    text-align: center;
  }
  
  .icons img {
    width: 30px;
  }
  
  h2 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-block: 20px;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 1.5rem;
    padding: 10px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .form_width {
    margin-top: 130px;
  }
  
  .contact_form {
    width: 100%;
    display: grid;
    padding: 10px;
    gap: 60px 40px;
    grid-template-columns: 1fr 1fr;
  }
  
  form label {
    color: #b3b3b3;
    text-transform: capitalize;
  }
  
  form span {
    margin-top: 30px;
    position: relative;
    width: 96%;
  }
  
  form input {
    width: 100%;
    border-bottom: 1px solid #5b5b5b;
    display: block;
    font-size: 1.2rem;
    color: #d9d9d9;
    margin-top: 16px;
    text-transform: capitalize;
  }
  
  form span::before, form span::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 3px;
    height: 2.7px;
    background: #ebebeb;
    box-shadow: 0 0 5px #e5e5e5;
    bottom: -1px;
  }
  
  form span::before {
    left: 100%;
  }
  
  form span::after {
    right: 100%;
  }
  
  input:focus {
    border-color: #e5e5e5;
  }
  
  .contact_button {
    color: #b3b3b3;
    font-size: 1.3rem;
    width: 80%;
    text-align: left;
    padding: 0;
  }
  
  i {
    font-size: 1.1rem;
  }
  
  @media only screen and (max-width: 768px) {
    .logos {
      display: flex;
      align-items: center;
    }
  
    .logo {
      visibility: hidden;
      opacity: 0;
      width: 0;
    }
  
    .logo_mobile {
      display: block;
      width: 35px;
    }
  
    .logo_mobile img {
      width: 100%;
    }
  
    .menu_icon {
      display: block;
      width: 35px;
    }
  
    nav {
      background: #3c3c3c;
      box-shadow: 0 0 2px #333;
      left: 0;
      width: 60px;
      z-index: 3;
    }
  
    .active {
      width: 200px;
      box-shadow: 0 0 1px #e5e5e5;
    }
  
    .active .logo {
      width: 100%;
      visibility: visible;
      opacity: 1;
    }
  
    .active .logo_mobile {
      visibility: hidden;
      width: 0;
    }
  
    .active .menu li a {
      visibility: visible;
      opacity: 1;
      width: 100%;
    }
  
    .active::before, .active::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 2.8px;
      height: 2.8px;
      background: #ebebeb;
      box-shadow: 0 0 5px #e5e5e5;
      right: -2px;
    }
  
    .active::before {
      top: 0;
    }
  
    .active::after {
      bottom: 0;
    }
  
    .nav_menu {
      padding: 10px;
    }
  
    .menu {
      font-size: 1.4rem;
      line-height: 1.3em;
      width: 81%;
      margin-top: 20px;
      letter-spacing: 1px;
    }
  
    .menu li {
      padding-bottom: 10px;
      height: 80px;
    }
  
    .menu li a {
      visibility: hidden;
      opacity: 0;
      width: 0;
      transition: 0.2s;
    }
  
    .blur_div {
      background: #33333361;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      z-index: 1;
      transition: 0.2s;
    }
  
    .blur {
      filter: blur(1px);
    }
  
    .cover {
      right: 0;
    }
  
    .main-width, .main-width_veritical, .slider_div, .foot_div, .main-width_horizontal {
      width: calc(100% - 60px);
      padding-inline: 5px;
    }
  
    .slider_div {
      background: green;
    }
  
    p {
      font-size: 1rem;
    }
  
    .main-width_veritical {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .main_img_vertical {
      width: 90%;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 3rem;
    }
  
    .foot_div {
      margin-block: 10px;
    }
  
    .contact_button {
      width: 100%;
    }
  
    .main_img_horizontal {
      width: 100%;
    }
  
    .main-width_horizontal {
      padding: 10px;
    }
  
    .name {
      left: 97.2%;
      font-size: 2.3rem;
    }
  
    .about_paragraf p {
      font-size: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .container {
      width: 97%;
    }
  
    .main_img_vertical {
      width: 100%;
    }
  
    .foot_div {
      padding: 20px;
    }
  
    .form_width {
      margin-top: 55px;
    }
  
    .contact_form {
      padding: 10px;
      gap: 20px 10px;
      grid-template-columns: 1fr;
    }
  
    .main-width_horizontal {
      padding: 5px;
      grid-template-columns: 1fr;
      place-items: center end;
    }
  
    .main_img_horizontal {
      width: 90%;
    }
  
    .name {
      left: 0;
      font-size: 2rem;
    }
  
    .about_paragraf {
      text-align: right;
    }
  
    h3 {
      font-size: 2rem;
    }
  }
  
